.layout {
  display: flex;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.content {
  margin-inline-start: 240px;
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: margin-inline-start var(--transition-normal);
  background: var(--color-bg);
}

.main {
  flex: 1;
  padding: 0;
}

@media (max-width: 1024px) {
  .content {
    margin-inline-start: 68px;
  }
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .content {
    margin-inline-start: 0;
    min-height: calc(100vh - 60px);
  }
}
